---
---

@import "primer";

body {
  background-color: #000;
  color: #f8f8f8;
}

a {
  color: #58a6ff;
}

a:hover {
  color: #1f6feb;
}

svg {
  background: transparent;
  fill: currentColor;
}

header,
footer,
main,
.page,
.Box,
.border,
.bg-white,
.bg-gray-light {
  background-color: transparent !important;
  border-color: #333 !important;
}
